# Python
__pycache__/
*.pyc
*.pyo
venv/

# Firebase credentials
backend/secrets/

# Firebase cache and logs
.firebase/
firebase-debug.log*
*.log

# Startup script logs
logs/

# Environment variables
.env

# Hardhat state
blockchain/.hardhat-state.json
blockchain/deployment*.json
